# Virtuoso files /data/db
/data/db/*
!/data/db/virtuoso.ini
!/data/db/toLoad
!/data/db/toLoad/*

# File service
/data/files/*

# ElasticSearch
/data/elasticsearch/*

# Emacs and Mac
*~
.DS_Store

docker-compose.override.yml